name: Health check job
on:
  schedule:
    - cron: '0 5 * * Fri'
    

jobs:
  health_check_job:
    runs-on: ubuntu-20.04
    steps:
      - name: Say hello
        run: |
          echo "Hello World!"
    
      - name: Date
        run: |
          date
  
      - name: current directory content
        run: |
          ls -l