name: Project pipeline workflow!

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]
jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint

      - name: build
        run: npm run build

      - name: test
        run: npm run test

      - name: e2e tests
        uses: cypress-io/github-action@v4
        with:
          build: npm run build
          start: npm run start-prod
          wait-on: http://localhost:5000

      

      - name: deploy to heroku
        if: ${{ github.event_name == 'push' }}
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}} #Secret key for heroku api
          heroku_app_name: "fullstack-pokedex321123" #Must be unique in Heroku
          heroku_email: "sudesh7443@gmail.com"
          healthcheck: "https://fullstack-pokedex321123.herokuapp.com/health"
          checkstring: "ok"
          rollbackonhealthcheckfailed: true

  tag-releases:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.40.0
      if : ${{!contains(env.JOIN_COMMIT_MESSAGES,"#skip")}}
      env:"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        JOIN_COMMIT_MESSAGES: ${{ join(github.event.commits)}}
        WITH_V: true
        INITIAL_VERSION: 0.0.0
        DEFAULT_BUMP: patch


  
